#note-item {
  width: 100%;
}

#note-item > mat-card > mat-card-header,
#note-item > mat-card > mat-card-content {
  height: 20px;
  overflow: hidden;
}

.highlight {
  font-weight: bold;
}

.mat-card {
  width: 100px;
}
