#app-header {
  height: 100%;
  width: 100%;
  display: flex;
}

#ah-left-side {
  flex: 30;
}

#ah-center-side {
  flex: 30;
  text-align: center;
}

#ah-right-side {
  flex: 30;
  display: flex;
  flex-direction: row-reverse;
}
